---
title: "Facebook envy -- a tango perspective"
date: 2011-05-20
tags:
category:
author: tangocynic
video: y2M4MwcGNXc

---
:markdown
  Following the daily updates on the exploits of our
  dear tango friends fills us with joy and happiness!
  Or does it?

  ## transcript

  Why am I here, when everybody else has gone home?
  Why do I have to prepare this stupid portfolio for
  tomorrow when I could be dancing tango?

  Oh, there is a new message for me on Facebook.
  Let's take a look. What is Sharon writing here?

  "I am having a great time at Nora's tango week.
  Tango dancing doesn't get any better than this."

  I see. And what is this? "Elton loves milongas in
  New York".

  "So many good followers.
  Murat and Michelle were amazing.
  Have been going to bed at 5am every morning.
  I am in tango heaven."

  Gosh.

  What is it with those tango people?
  Do they not have a real life?
  Why am I sitting here at work when all these
  people are enjoying themselves?

  This one is from Priscilla.  Of course she is in
  Buenos Aires -- where else.

  She says: "Oh my god!
  Francisco danced three tandas in a row with me,
  last night at Practica X.
  You all know what this means, smiley face."

  I have no idea what it means, but I don't care.
  Tango blasphemy means swapping your life,
  a successful active professional woman, for that of a
  smiling, subordinate, follower who gratefully receives
  the crumbs that the Priscilla's of this world leave
  behind.

  Ah, and here is Kurt.
  Obviously Kurt never really wanted me, not for tango anyway.
  Of course I was stupid enough to fall for a tango alpha male.

  What is he writing?
  Kurt's schedule for the next three weeks --
  Berlin tango festival,
  Capri tango festival,
  Syracuse tango festival,
  Montreal tango festival.
  Disgusting!

  Where do these people get their holidays from?
  Who pays them all the money to jet set around the world
  and dance tango?
  Do they not work? Do they not have to go shopping,
  do the washing, and bring the kids to school?
  Do they not have to pay off a mortgage?
  And why am I here filing tax returns?
  I hate my life.

  This message is from Enrique Blanco, or Henry White as
  he was known before he started tango.
  He too is in Buenos Aires.
  My god, is there no other destination on earth?

  He writes: "Have just completed a one-week seminar with
  Gustavo Naveira.  He has taken my tango to a whole new
  level!"
  Ah, and here he is in a picture arm-in-arm with his
  teacher, smiling at the world.

  Bastard! Perfect boleo.  Perfect milongas.
  Perfect dancers. Perfectly nimble bodies and
  perfect teachers everywhere.
  It's like living in Wisteria Lane!

  My boleos suck. My bum looks big in everything.
  I don't call any famous tango dancer my friend.
  Javier Rodriguez has never hugged me.
  What's worse my tango teacher is about as inspiring as a
  tax auditor.
  What is wrong with me?
  Where do I find the shiny tango glamour world?

  Maybe tango happiness comes only to those who seek it.

  What shall we write? Okay!

  "I am having an awesome time at the Barcelona tango
  festival!
  Last night I danced 3 tandas with... erm...
  how shall we call him?
  Three tenders with Lorenzo...
  You all know what that means...
  Smiley face."

  Or maybe I should simply delete my Facebook account.