---
title: "First ever tango infomercial"
date: 2011-03-11
tags:
category:
author: tangocynic
video: bC3CKCWVqg8

---
:markdown
  The life of a burgeoning tango leader is full of
  challenges. Finally, there is an inspirational message
  to all long-suffering tango beginners from the man himself.

  ## transcript

  here you so you are looking at youtube
  clips because you have nothing better to
  do with your life
  is your wife nagging
  are the children Rick a ring
  is your boss being unreasonable
  if that is you then listen up
  I have got a story to tell you
  my story
  it might just change your life
  my name is Kurt
  yes that's right
  the Curt
  I am a tango celebrity of sorts
  my story is called incentives for
  accelerated up with social mobility for
  the domesticated mail through the medium
  of Argentine tango
  or in short learn to dance tango
  mate I used to be playing Kurt
  a guy sitting in a cubicle at work
  who tried to get noticed by our cute
  receptionist for years without success
  I got up ate went to work ate and went to bed
  that was my life
  sounds familiar does it
  it all changed when tango came into my life
  of course it was no instant cure
  tango will speak to the masochist inside you
  the first concept you will learn as a guy in tango is
  humiliation
  you thought you could walk now
  your cannot
  you thought you could turn now
  your cannot
  you thought as long as you are sober
  you can balance on two legs
  you cannot
  the humiliation will be even worse
  if you learn with your girlfriend or wife
  because she will be able to do all those things
  and she will tell you that
  every other guy in the room can do them too
  don't be fooled my friend
  it's a trick
  it's part of the evolutionary process
  tango is a journey where only the strongest survivor
  the orders of humiliation that are set up on the way
  stand tall brother
  even if the guys work will make fun of you
  thinking you are a clown wearing black and white shoes
  suspenders and arose in your mouth
  let them see who will have the last laugh
  practice in the elevator
  the man's toilet
  everywhere you can find a smooth dance floor
  walk through the city
  listening to turn to on your iPod
  you will come across words
  that you had only ever associated with a
  Latin American urban guerilla movement
  bah readers Cola Gallagher's dancing
  than will mean even more humiliation
  you will be put to shame by more experienced followers
  when they tell you that their feet are hurting
  don't give up my friend
  remember it is all scripted for you by the big book of tango
  soon you will learn to distrust people who say
  buenos aires instead of huayna cyrus
  you will become streetwise in a little world of tango
  and I am a happy to say you will reap the rewards
  I did
  look at me now
  I sit in this Gordon Gekko office
  and I can honestly say greed is good
  greed for more tango perfection
  I no longer have to go after the receptionist these days
  i share my favorite pickup line with Hugh Hefner
  I just say my name of course
  at a milonga there are relatively speaking
  fewer gorgeous 20 year old
  girls than at Hugh Hefner's place
  our local milonga tends to be the hunting ground of the Cougar
  the Cougar I hear you
  ask my friend she will not be to your detriment
  once you have passed all the challenges
  that tangle has thrown your way
  you will realize this that is a male
  you have now claimed your rightful place
  at the top of the tanger food chain
  one of the cougars at our milonga is the
  CEO of this company
  she appreciates the attention in a gentle embrace of
  a tango alpha male
  I appreciate a nice office
  do you see what I mean
  so my long-suffering comrade
  what are you waiting for
  status fame and fortune await you
  at the end of your tango pilgrimage
  get out of this seat
  and dial the toll-free number on your screen
  to order my book on self fulfillment through tango
  for only three easy payments of 1999
  but wait there is more
  if you call within the next five minutes
  you will also receive my personally crafted deodorant
  with the name salud dinero e are more
  absolutely free you