---
title: "How many tango shoes does a woman need?"
date: 2010-11-11
tags:
category:
author: tangocynic
video: Ua7CBToQQ5Y

---
:markdown
  Silly question, really!

  ## transcript

  Therapist: Good afternoon, Priscilla.
  What brings you here?

  Priscilla: My friends are telling me that I am suffering
  from a tango shoe fetish.
  Which is obviously entirely untrue.

  T: How many pairs of tango shoes do you own?

  P: A few.

  T: How many?

  P: Maybe around 50.

  T: How many?

  P: Okay okay, 112.
  But just because it's three digits that doesn't make me
  a freak.
  Or does it?

  T: Why do you need 112 pairs of tango shoes?

  P: It gives you options.

  T: How many pairs of tango shoes does a woman need?

  P: Ask Imelda Marcos.

  T: Imelda Marcos was the decadent wife of a corrupt
  dictator.
  Do you really want to evoke that comparison?

  P: Shoe heaven is better than no heaven at all.

  T: We have to work out whether we are dealing with a
  hoarding disorder here.

  P: A hoarder collects useless junk.
  Tango shoes are an extension of my personality.
  They express who I am as a person.

  T: What does pair 82 express about your personality
  that pair 104 doesn't -- that you like yellow?

  P: Beautiful tango shoes are like taking out insurance.
  There are many things that can go wrong during a
  milonga: bad dancers, bad music, bad atmosphere,
  but nobody can take beautiful shoes away from you.

  T: You know that men don't notice shoes.
  Most men will think she has got a light and a dark
  colored pair.
  You might as well not bother with the other 110 pairs.

  P: Men don't notice a lot of things but women do.
  When you arrive at the milonga and put on your latest
  perfectly matched Comme Il Fauts, everyone knows
  that you mean business.

  T: So that you can sit in the corner with ten other women
  who have tried the same trick?

  P: Maybe men don't notice shoes, but there is something
  in those Comme Il Fauts that attracts the tango alpha
  males.

  T: Like Kurt?

  P: How do you know about Kurt?

  T: Erm...  nevermind.
  I think we are getting closer to the issue.
  I sense that the tango world is like the animal kingdom:
  the more colorful your feathers, the fancier your shoes,
  the more likely you are to attract tango alpha males.

  P: Getting noticed helps.
  After six years of shopping at Comme Il Faut, even the shop
  assistants finally started to be friendly to me,
  and to bring me coffee.
  That VIP treatment is normally reserved to wholesalers only.

  T: Anybody who supplies you with your favorite vice, and
  provide you coffee in the meantime, might not have your
  best interests at heart.

  P: Still, nothing beats the excitement.
  They bring out a box and they open it in front of you.
  You never know what's inside.
  Oh my god, it's like Christmas and your birthday combined.

  T: How has your life changed since you bought your first
  pair?

  P: I don't remember having a life before tango.
  At least now everything has a purpose.
  I can now measure a day's work against tango shoes earned.
  It becomes like a currency.

  T: What would you do if they stop production tomorrow?

  P: Oh my god.
  They are stopping production?

  T: Would you pay twice as much for tango shoes?

  P: No way.

  T: You didn't answer my question.

  P: Of course I would.

  T: Priscilla, are you aware that you might be suffering
  from an impulse control disorder?

  P: I am in full control of my behavior.
  I receive live online updates from all major tango
  shoe suppliers.
  Whenever a new desirable pair is available,
  I am ready to snap it up.
  That's not impulsive, that is pure genius, maybe.

  T: It's time to take a step back and get some perspective.

  P: Are you suggesting I sell my tango shoes?

  T: I believe it may be the only way to rid you of this
  terrible condition, and,
  to show me your commitment, you will have to hand
  over this gorgeous pair of Comme Il Faut to me, right now.