---
title: "How authentic is your tango?"
date: 2011-05-07
tags:
category:
author: tangocynic
video: Zsy4xLSGXdc

---
:markdown
    As you would expect from a religion, tango heaven
    awaits those who follow the traditions.
    As for the rest - your local tango High Priest is
    watching you!

    ## transcript

    Krupke: Hey you! Yes I mean you, punk.
    I have been meaning to have a word with you for
    a long time.

    Anton: Hey Mr. Krupke. My name is Anton.

    K: I don't care what your name is.
    But I know that you are one of those tango nuevo punks
    who have been sabotaging this milonga lately.
    This used to be a beautiful place, here at the west side
    milonga -- traditional tango music, discreet and
    well-dressed people, decorum on the dance floor --
    and then you lot came along.

    A: And what happened?

    K: People with dreadlocks, beards, and baggy trousers
    started appearing.
    They are asking for ridiculous music, and they are
    dancing boleos and gachos as if they were auditioning for
    Cirque du Soleil.  It's like a social disease.

    A: I am not sure that I can follow you.
    What is the problem with that?

    K: The problem is that is has nothing to do with
    authentic tango.

    A: Can you define authentic tango for me?

    K: Yes. Authentic tango is tango as it was danced in
    Buenos Aires during the Golden Age, in the 1930s and 1940s.

    A: So you were declaring that tango is dead?

    K: We are trying to preserve true tango against delinquents
    like yourself.
    You punks have no respect --
    women dancing with women,
    men dancing with men. It's like a whorehouse.

    A: Of course none of these things ever featured in the
    history of tango...

    K: You punk just need some respect for the traditions.

    A: So you think just because you put on a suit,
    play a song from the 1940s, and call your shuffling
    milonguero style, you are preserving tango?

    K: The dancers back then surely did not look like
    terrorists on the run.
    And they did not dance to Tom Waits either.

    A: The dancers back then surely did not arrive at the
    milonga in a BMW convertible wearing a $2,000 Armani suit.

    K: What are you saying?

    A: I am saying that dressing up like an Argentine when you
    are not, and pretending that you understand the culture
    when you have visited a few tourist circuits milongas in
    Buenos Aires makes you about as authentically Argentinian
    as a cheeseburger.

    K: I have been to Buenos Aires many times.
    They know me by my first name at the Confiterial Ideal.

    A: Yeah, that's a prime location for authentic tango.

    K: At least I respect the traditions and the culture and
    that's a lot more than can be said for you, my friend.

    A: Tradition.  All I hear is follow tradition.
    Is this a religion or is it a dance?
    And are you its law-enforcement officer?
    Shouldn't you be enjoying yourself as we are all trying
    to enjoy ourselves?

    K: If you don't follow the traditions of tango,
    you will never understand the dance.

    A: Oh really?
    What will I not understand?

    K: The unspeakable sadness of tango poetry, for example.
    Being dejected from society,
    being poor, being without prospects in life.

    A: Well mister Krupke, while you were busy understanding
    the unspeakable sadness of tango poetry with your bad
    Spanish, while you were trying very hard to look poor.
    dejected, and without prospects in life,
    will you excuse me momentarily.
    I will invite a fellow punk for a Cirque du Soleil audition.
    And by the way Mr. Krupke -- Krup you!