---
title: "The loneliness of the long dancing milonguera"
date: 2011-09-13
tags:
category:
author: tangocynic
video: tUUdT8NqBSg

---
:markdown
    For all those on a quest for tango perfection!

    ## transcript

    A: Priscila, you are my hero!
    From the first time I saw you, I admired you on the
    dance floor -- your grace, your elegance,
    your posture, the way you walk.
    You are my tango Übermensch.
    Your adornos have the graceful touch of a butterfly.
    Your boleos are sharp as a Swiss Army knife.
    Men line up to get a dance with you.
    Priscilla, I want to dance like you.
    Show me how to achieve happiness through tango!

    Priscilla: Happiness? What makes you think the tango
    is the way to happiness?
    What could I give to be in your shoes once again --
    not the junky tango clogs you are wearing,
    but metaphorically speaking.

    A: I began tango just a year ago.
    I was an average middle-class intellectual with a
    PhD in continental philosophy, and a burning desire for
    self-fulfillment.
    I have since divested myself of worldly matters:
    the education of my kids,
    the well-being of my husband,
    and my friends.
    In the big picture of the universe, they matter little.
    But I need to sort out those boleos.

    P: You are on the quest for perfection?

    A: Utter perfection.

    P: Schopenhauer?

    A: Yes.

    P: Desperate Housewives have shown us that ambition
    in the pursuit of perfection is a slippery slope.

    A: Where else but in tango can we feel so
    beautiful as we strive for perfection?

    P: Let me give you a reality check, darling.
    I have danced with the best dancers in the world.
    I have experienced perfection.
    Everything that follows is a disappointment.
    These days I enter a milonga and I witness the shrill
    cacophony of bodies consulting each
    other at the worst possible moment in the music.
    I see otherwise respectable middle-aged people
    entangling their lower bodies as if they had been
    studying the Kama Sutra.
    And strong emetic reflexes take hold of me.

    A: But who cares about them?
    You are the best dancer in town --
    who would not want to be like you?

    P: Nobody, darling, nobody.
    I have spent countless hours perfecting my dance with
    the best teachers.
    I spent most of my yearly income on tango --
    and what for?
    Now I see abject misery once I set foot through the door.
    It's like walking through the streets of Dickensian London.
    Bad posture, bad balance, bad centre,
    bad musicality, bad floor craft,
    lack of dynamics, of variation, and subtlety in the dance.
    I see the seedy underbelly of tango wherever I go.

    A: But you are a tango VIP.
    You get first class treatment wherever you go.
    Dancers will travel for hours if you announce your
    arrival on Facebook.
    While I only get dances with bottom-feeders.

    P: Tango is a game of diminishing returns, darling.
    First you dance with everyone who comes up to you.
    Then you prefer to dance with 3 or 4 people in your city.
    Then you go to the next bigger city, until you end up
    with another three or four people.
    Not for me.
    Unless I cross oceans for a dance
    and travel to the other side of the world,
    I cannot motivate myself to go out of the house.

    A: You are not suggesting I become a Sunday afternoon
    tea and cookie dancer?

    P: You are the philosopher.
    Schopenhauer knew that
    your ambition for tango perfection was futile.
    He knew that you would never be as good as the
    YouTube stars you admire.
    Tango ambition will only lead to loneliness and bitterness.

    A: Priscilla, what am I to do?

    P: Get a cat. Or a hunky lover.
    Or moved to Buenos Aires.