---
title: "Marking the tango territory"
date: 2010-12-13
tags:
category:
author: tangocynic
video: DXYHDabuDQE

---
:markdown
  As soon as a new male arrives in the scene,
  the local alpha male needs to establish power relations --
  based on an actual conversation

  ## transcript

  hi you must be new here yes I am you
  must be the DJ that's right I am the DJ
  but I am also a tango teacher
  choreographer performer and coordinator
  of everything to do with tango in this
  city oh that's great I think so too
  most of the people in this city had
  learned tango from me is that so yes
  even some of the Argentinian teachers
  teaching in this town learned their
  first steps from me but of course they
  would not admit this today that's very
  impressive of course it is I learned
  from the very best nivara ver Ron solace
  copays balmaceda they are all personal
  friends of mine when I come to Buenos
  Aires they invite me to stay with them
  every time I help them spread their
  dance in this country they're very
  grateful I am sure they are of course as
  a beginner you have not heard these
  names before but they are some of the
  greatest masters of the dance actually I
  have I have been dancing for 6 years 6
  years it's not still a beginner I saw
  the original tango Broadway show you
  weren't even born then not everything in
  tango is about how much time you spend
  there is quality and there is quantity
  nothing beats experience my friend
  because of me people beyond the Iron
  Curtain can now dance tango all because
  of your generosity I brought them tango
  music they had nothing you know and I
  thought poor people they should have
  some music to dance to
  you're a true tango philanthropist and
  you my friend do you like my music I
  only play the best you know not like the
  others well I was actually wondering
  whether I could make a wish of course my
  friend my tango collection is vast what
  would you like
  would you have some Karla with Paran
  coming up on your playlist Oh
  or maybe some donato Oh or maybe some
  tan jewelry Oh what about Gary Enzo
  darienne's oh the devil no way
  Gary answer was techno music from the
  1930s Bam Bam Bam Bam Bam
  are you kidding me but you have been
  playing Piazzolla for the last hour
  Piazzolla was a genius and so was Gardel
  my selection is based on these two
  masters you will come to appreciate
  their music sometime but as a beginner
  you are not expected to know about this
  so I cannot request anything of course
  my friend you can it just needs to be
  good music proper tango music you know
  like the Azula
  or maybe Buble a C because I am in a
  good mood today but maybe a good beat
  will give dancers more energy and
  structure the dancers look like
  jellyfish in an aquarium they float
  aimlessly through the room without any
  purpose and direction my friend I see
  that you have a warped perception of
  tango this is not ballroom dancing you
  don't learn sequences tango is
  improvisation freedom of expression of
  course but these people here can't even
  walk how are they supposed to express
  themselves to Piazzolla are you saying
  that my students cannot dance tango all
  I'm saying is that a little beat could
  help them with the dancing my friend I
  see that we have a long way ahead of us
  and teaching you about tango my
  beginners classes are Mondays and
  Wednesdays from 7 to 8