---
title: "So you want to learn tango?"
date: 2010-10-29
tags:
category:
author: tangocynic
video: JQ2u-xLu-QI

---
:markdown
  A realist approach to learning Argentine Tango.
  Not recommended for beginners.

  ## transcript

  Jane: Kurt, I want to learn Argentine tango.

  Kurt: Oh...

  J: I want to be consumed by the passion and the drama --
  viva el tango!

  K: Oh...

  J: There is nothing more romantic and sensual than
  dancing Argentine tango.

  K: I beg to differ, Jane.

  J: I want to kick up my legs and my sexy stockings and
  dance with an epicurean specimen of an Argentinean.

  K: Jane!

  J: Rudy Valentino, Pablo Veron, here I come!

  K: I don't wish to curb your enthusiasm, Jane, but men
  will only dance with you for three reasons.
  either because you are good-looking...

  J: Ganchos!

  K: ... or because you are young...

  J: Boleos!

  K: ... or if you can actually dance.
  That won't happen for many years.

  J: Sacadas!

  K: In the meantime, you will sit in a corner with
  ten other women who are waiting for a dance.

  J: I will have a rose in my mouth and a feather boa
  around my neck.

  K: Oh my god.

  J: Tango is full of sophisticated and good-looking people.

  K: Only sweaty old men will prey on you, trying to
  convince you that their three steps and their bad
  lead are the essence of tango.
  And you won't know any better.

  J: I will fly across a floor with three gorgeous hunks
  like Sally Potter.

  K: You will dance with other incompetent beginners who
  will pull your arm out of its socket.

  J: I will learn tango nuevo.

  K: Have you got health insurance?

  J: We will look in each other's eyes full of lust and desire.

  K: The only view you will have is the hair in the ear of
  your partner or his armpit for that matter.

  J: He will gently embrace me while our bodies move in
  graceful unison, reliving the unspeakable sadness
  expressed by tango poetry.

  K: His sweaty shirt will be sticking to you, while he
  drills his fingers down your spine trying to make you
  do back ochos.

  J: I will go to Buenos Aires and dance with the locals
  all night long.

  K: You will have to pay a mediocre taxi dancer a lot of
  hard currency to take you out to a milonga.

  J: All Argentinians know how to tango.

  K: All Germans know how to yodel.

  J: We will fly across the dance floors in the salons of
  Buenos Aires.

  K: You will move ten meters in three minutes.

  J: I will learn the milonguero style.

  K: That way you will only move three meters in ten
  minutes.

  J: I will buy some beautiful Comme Il Faut shoes to show
  them off when I am back.

  K: Your incompetent partner will ruin them in one night.

  J: I will practice every day so that all the very best
  leaders want to dance with me.

  K: And then what?

  J: We will be consumed by the passion and the drama.

  K: You will be consumed by the anger that you have spent
  so much of your hard-earned cash on becoming a good
  dancer, only to find out that there is no adequate partner
  for you.

  J: The good dancers will recognize my talent.

  K: There are only three good leaders in this town.
  And 30 good followers.

  J: That's enough for a Sally Potter threesome.

  K: Sally Potter is a narcissist.

  J: Kurt, will you dance Argentine tango with me?

  K: Oh? um... okay.