---
title: "Stage tango -- a parallel tango universe?"
date: 2010-03-07
tags:
category:
author: tangocynic
video: ZLfllYXH3Hc

---
:markdown
  Spare a thought for our dear friends inhabiting the
  weird and wonderful planet of stage tango.
  If only there were a medal test for everything in life!

  ## transcript

  H: Hi there.

  S: Hello! You must be a visitor.
  Welcome to our city and our milonga.

  H: No, I am NOT a visitor.
  I was born and bred in this town.

  S: Oh, you must be a beginner then.
  Welcome to the world of tango.

  H: I am NOT a beginner.
  I have been dancing the tango for the last 10 years.

  S: I am very sorry. I did not mean to offend you,
  but I have been dancing just as long.
  How come I have never seen you?

  H: I learned the tango at the "Flicks and Tricks tango
  academy".
  I have done their triple gold medal courses with special
  distinction.

  S: Ah, that would explain it.
  Now I understand why you keep saying "the tango".
  Only people who dance imitation tango call it "the tango".

  H: I don't normally frequent these places, they are
  uninspiring.
  Nothing ever happens at milongas. People just shuffling
  their feet and hugging each other.
  It's just another form of couple therapy to
  scratchy music.
  I want to be consumed by the passion in the drama
  of tango.

  S: What brings you here then?

  H: I want to spread the word, the word about true tango.
  No shuffling, just good old-fashioned kicks,
  hooks, and dramatic dips.

  S: You know that this place is called the "abrazos" milonga?

  H: I don't speak Portuguese.

  S: I am sorry for you. Let me give you a hug.
  What about the fancy dress?

  H: I am the best dancer in the studio, I dress to impress,
  like a true Argentinian.
  None of the women in my school are even close to my
  level.
  They are at least two medal exams away.
  They haven't even learned the Rudy Valentino
  magic combo yet.

  S: I get shivers down my spine just imagining what
  this would be.

  H: You start off with a lunge, then the lady
  does the shoe shine on my pants.

  S: Oh my god.

  H: Then she hops on my lap and gently strokes my hair.
  It's a very advanced combination.

  S: I am speechless.

  H: You must have heard about our recent student
  performance at the Community Hall.
  We did a choreography with four couples.
  We used hats and chairs on the stage as props.
  All the men were dressed in black and had a red rose
  in their mouth.
  I tell you, it was hot -- the local press called it
  a sizzling success.

  S: I am sorry, I get spontaneous lapses of memory when
  I think of amateur stage tango.

  H: Oh, I hear scratchy music in there -- shocking.
  There are two things I am allergic to: broccoli
  and scratchy tango music.
  But I have come prepared.
  I have got all three albums by Gotan Project.
  I am going to have a word with the DJ.

  S: But they are playing D'Arienzo.

  H: Depressing.

  S: And before there was DiSarli.

  H: Depressing and no beat, even worse.

  S: Maybe people liked the music as it is.

  H: These people just haven't been told about the new
  alternatives yet.
  But I will save them from their misery.
  I will be their tango savior.

  S: No doubt they will be grateful for their redemption.

  H: Come down from there and I will explain the
  Rudy Valentino magic combo to you.
  We practice it outside for 10 minutes and we go
  straight to the middle of the dance floor and
  show them an action-packed display of tango
  passion, like Richard Gere or Antonio Banderas.

  S: M. sorry, my feet are hurting.

  H: What, from shuffling?

  S: No, M.
  I have been doing too many shoe shines tonight.
  But let me find you a rose.
  It would go well with your broccoli.