---
title: "Tango versus Salsa"
date: 2011-04-11
tags:
category:
author: tangocynic
video: NWgIlD287hs

---
:markdown
  There is a good reason why these two exquisite dance forms
  are usually kept well away from each other.

  ## transcript

  T: Excuse me -- I was under the impression that there
  was a milonga here tonight.

  S: A what?

  T: A milonga -- you know, tango dancing?

  S: Oh no.
  Thank God it's Wednesday -- tonight is salsa night.
  Tango was yesterday.

  T: Oh no, I missed the tango.

  S: You should be glad. You look like you can do
  with a few happy hormones anyway.

  T: Thank you, but salsa is really not my cup of tea.

  S: Too much fun, right? I can always tell the difference.
  A salsa dancer comes in the room and it's like:
  yay, let's party.
  A tango dancer comes in with a stone face and goes,
  okay, this is so deep and meaningful, let's be serious.
  It's like you are all craving depression.
  Just imagine listening to music all night that goes on
  about how crappy life is.
  Salsa music on the other hand ...

  T: Salsa music on the other hand is invariably about a
  conceited chauvinistic ass who thinks he is God's gift
  to women.
  And while he sings about his poor Alma and Corazon, the
  trumpets blow your ears off twice per minute in
  celebration of his manliness.

  S: Salsa is like a chick flick: good, predictable and
  unadulterated fun.
  Tango is like a pretentious Swedish art house movie:
  nobody gets it, but if you don't want to look stupid
  afterwards, you pretend that you found it truly
  intriguing.

  T: That must be the reason why in salsa, conversations
  start with 'how are you' and they end with 'good'.
  Tango people at least have something to talk about.

  S: Like their retirement funds, or their grandchildren?

  T: At least in tango you don't have to fight off sleazebags
  all night long, who want to give you private lessons, and
  send you 50 text messages the next day saying how
  beautiful you are.

  S: It is kind of cute.

  T: It's tacky. Tango is like making love, salsa is
  like having sex -- no subtlety.
  I am a grown-up woman and not a teenager.

  S: What do you mean tacky?

  T: I am NOT looking at anyone. (*folds arms
  and stare at B's dress*)

  S: Women in salsa look sexy.
  Women in tango look like a sack of potatoes hanging
  from the neck of a guy who could be their father.

  T: In ten years when you get your first wrinkles and the
  saggy bum, the womanizing salsa gods you dance with
  now will still seduce twenty year olds.

  S: In ten years the men you dance with will be
  spoon-fed by a nurse.

  T: Oh my god. What is this?

  S: Ah, you are lucky -- they are dancing bachata tango.
  Now you can show us your moves.

  T: This has got to be a bad marketing ploy --
  salsa people wanting to add some spice and passion with
  a few ganchos? That's almost as bad as Zumba.

  S: I love Zumba.

  T: One day they will even come up with a salsa version of
  El Choclo.

  S: Did you know that the corn cob in El Choclo is really
  just a phallic symbol?

  T: Um no I did not.

  S: Now is that tacky or what?
  But don't worry -- I am NOT looking at anyone.