---
title: "The tango messiah has come to town"
date: 2011-02-15
tags:
category:
author: tangocynic
video: 1FWmsNvFIY8

---
:markdown
    Great tango leaders are a rare commodity.
    If one finally appears at the local milonga, even the
    most discerning followers may get carried away a little
    too far.

    ## transcript

    Priscilla: Oh my god! I am utterly speechless!
    Dancing this tanda with you was an epiphany!
    a revelation! a moment of pure tango bliss!
    Well, who are you?

    Ken: I am Ken. I am 62 years old, and I am a
    dairy farmer.
    How about you, love?

    P: I am Priscilla, 32 years old.
    I am lecturing on post-structuralist literary criticism.

    K: My dad was a postman too, but not very structured.

    P: Oh Ken, I love your sense of humor, and I love the
    subdued energy of your gentle embrace.

    K: Yeah, you dance good too.

    P: When I danced with you, I felt a thin apple skin of
    self decision over a glowing center of raw energy.
    Tell me, Ken, how do you do it?

    K: I work with large animals.  You have got to tell
    them cows where to go -- there ain't no two ways
    about that, but you want to be gentle too.
    They are a gift of Mother Nature.

    P: Oh Ken, I love your metaphors:
    so deep; I never thought about tango in that way.
    The tango leader is a shepherd, a gaucho.
    You're opening completely new doors for me, Ken.

    K: Keep it simple, stupid.  That's what I say.
    Just listen to the music, and praise the lady,
    and dance.

    P: There is so much truth in your minimalism, I feel I
    have unnecessarily intellectualized my approach to tango.
    I have traveled from Buenos Aires to New York and Berlin
    in the search for the secrets of tango.
    I studied yoga and Alexander Technique for years to
    increase my body awareness.
    And you just embrace me, and I simply enjoy being.
    You're a magician, Ken.

    K: No, I am what I am, and that's all that I am.

    P: Oh Ken, don't be so humble,
    You know that's not true.
    You're a true maestro.
    Tthe ladies must be all over you.
    It is such a privilege to dance with you.

    K: All I do is walk in an embrace.

    P: But words do not suffice to describe the pleasure you
    bring.
    The way you interpret D'Arienzo's sobbing violin --
    better than sex!

    K: !!

    P: Can you embrace me again, right here?

    K:: But they are playing a Cortina.

    P: I don't care.
    Please can just one more time?

    K: Alright. Why not?

    P: Ken, do you want to marry me?