---
title: "The ten tango commandments"
date: 2011-11-20
tags:
category:
author: tangocynic
video: nRarJSl3cA8

---
:markdown
  Everything as fundamental to life as tango needs a moral code...

  ## transcript

  Have you lost your way in this world?

  This big world or tango which leaves so many of us with existential
  unanswered questions:

  - Who am I?

  - Why can't I walk like Sebastian Achaval?

  - Do I really have an axis?

  - Should I be going to an advanced workshop after eight weeks of learning
  tango?

  - Why do I look like a 10 year old hanging from a supermarket trolley
  whenever I attempt to Colgada?

  - And what on earth is a Colgada in the first place?

  Fear not my brother.

  My name is Kurt.
  I am your local tango evangelist and I have got some answers for you.

  My ten tango commandments are all you need for a life of bliss and
  happiness for the rest of your dancing days.

  Now lean back and listen well:

  ### First commandment

  Tango and tango alone is your God.
  Don't even think about mentioning salsa or swing.

  ### Second commandment

  Thou shalt not put moving images of yourself practising tango on YouTube.
  They may be used against you when you have long forgotten about them.

  ### Third commandment

  Thou shalt not use the name of tango in vain --
  especially not in association with anything remotely resembling
  fishnet stockings, roses, ballroom dancing, or Antonio Banderas.

  ### Fourth commandment

  Remember the Sabbath.
  Six days of tango per week are quite enough.
  There is another form of life out there, in case you forgot.

  ### Fifth commandment

  Thou shalt honor your father and your mother.
  Spare them from the trauma of listening to your tales of perfect
  tandas and the chemistry of a good embrace.
  They wouldn't understand.

  ### Sixth commandment

  Thou shalt not murder.
  Ladies, keep the control flows on the floor.

  ### Seventh commandment

  Thou shalt not commit adultery.
  Resist the temptation that all those smiles, compliments, and
  tender embraces in the tango world seem to suggest.

  ### Eighth commandment

  Thou shalt not steal teacher's moves from the internet.
  He looks cool doing them; you will look like an idiot.

  ### Ninth commandment

  Thou shalt not bear false witness.
  Cut down on the insincere compliments,
  but if you have to bitch about everyone on the dance floor,
  at least do it discreetly.

  ### Tenth commandment

  Thou shalt not covet your neighbor's instructional DVD,
  your DJ's new Canaro CD, or your teacher's black and white
  tango shoes -- get your own.
