---
title: "Tango truths: why men dance and women sit"
date: 2011-10-29
tags:
category:
author: tangocynic
video: twVJEmYLsAw

---
:markdown
  Just another night at a big city milonga

  ## transcript

  A: Hey man, good to see you.
  How are things?

  B: All good, thanks.  And yourself?

  A: Couldn't be better.
  The work is done for the week and now it's tango
  all night long.

  B: Look at all those gorgeous followers sitting over there.

  A: Amazing!

  B: Awesome.

  A: There is a new lady too.  Have you seen her before?

  B: Never, but I heard she is from Detroit.
  You should dance with her.

  A: I should, but I'll wait until I have seen her dance.
  Better safe than sorry.  Why don't you ask her first?

  B: I should, but I had to work through my virtual
  favorites list: DiSarli with Jessica, D'Arienzo with
  Francesca,  a vals tanda with Jill.
  I am booked for an hour.

  A: I know, mate, it's tough being a guy.
  If I don't dance with my usual ladies, I get the nasty
  looks next milonga.

  (*one hour later*)

  A: How is the list going?

  B: I am through most of my compulsory dances.
  Look at this: the new lady still hasn't danced yet.

  A: That's horrible.
  Poor lady, she probably traveled for hours to get here.
  You should ask her for a dance.

  B: I should, but it's a milonga tanda.
  That's never a good set to start with.

  A: I agree.

  (*A new girl enters*)

  A: Holy jesus!

  B: God almighty!

  A: Who is this? Look at those legs,

  B: And the long hair.
  She can't be older than 25, and the skirt hardly
  covers her bum.
  Tasteless, but why not.

  A: Look! The way she just smiled at me.
  I have no idea who she is, but I will dance
  with her right now.

  B: She was clearly looking at me,
  so excuse me momentarily.

  (*one hour later*)

  B: Wow.

  A: Huh? That was hard work.
  I followed her around for an hour to be in a good position
  for a cabeceo but it worked in the end.

  B: Tell me about it.
  It seems all the men have gone bonkers all of a sudden.
  How was it?

  A: Her dancing is rubbish.
  But with those legs, who cares?
  She is hot, I tell you.

  B: Look, our lady from Detroit still hasn't danced.
  That's criminal. Why don't you dance with her?

  A: I should, but this is Troilo playing,
  it's really not my cup of tea.

  B: Fair enough.
  It's not my favorite either.
  Oh excuse me, I think I just got a cabeceo from Kelly.

  (*one hour later. La Cumparsita. last tanda.*)

  B: Wow, the evening went fast.
  It's hard work keeping the ladies happy.

  A: I hear you.
  We selflessly give away our tango gift for the greater good.

  B: Did you notice: the lady from Detroit finally danced
  a tanda?

  A: Yes. With Floyd the furniture mover.
  Not exactly the stuff tango dreams are made of.

  B: Poor lady. She actually dances very nicely.
  She deserves better than that.

  A: Yes. Floyd told me that she is a tango teacher.

  B: that tango teacher?
  Bloody Floyd!
  Couldn't he have asked her for a dance earlier?